[Unit]
Description=Buildbot master
After=network.target

[Service]
WorkingDirectory=/home/buildbot/master
Environment=BB_CONF=conf/prod.py
ExecStart=/home/buildbot/venv/bin/buildbot start
Type=forking
Restart=always
Nice=-2
User=buildbot

[Install]
WantedBy=multi-user.target
